@font-face {
    font-family: ara;
    src: url(./assets/fonts/Ara_Hamah_Zanki_Regular.otf);
}

@font-face {
    font-family: aspect;
    src: url(./assets/fonts/ASPECT_RANGE_DEMO.otf);
}

@font-face {
    font-family: kingsman;
    src: url(./assets/fonts/Kingsman_Demo.ttf);
}

@font-face {
    font-family: nexa;
    src: url(./assets/fonts/Nexa-ExtraLight.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #222;
}

.App {
    width: 100%;

    .container_wrapper {
        width: 1442px;
        max-width: 1442px;
        margin-left: auto;
        margin-right: auto;
        background: url('./assets/svg/bg.svg') center/cover;
        height: 3403px;
        overflow: hidden;
        position: relative;

        header#Header {
            * {
                font-family: ara, sans-serif;
            }
        }
    }
}

.round_left_btn {
    background: url('./assets/svg/round_left_btn.svg') center/100% 100%;
    position: relative;
    width: 272.02px;
    height: 198px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    span {
        font-size: 40px;
        color: #fff;
        font-weight: normal;
    }
}

.round_full_btn {
    background: url('./assets/svg/round_full_shape.svg') center / 100% 100%;
    position: relative;
    width: 253.02px;
    height: 83px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    span {
        font-size: 29px;
        color: #fff;
    }
}

.round_right_btn {
    background: url('./assets/svg/rounded_right_btn.svg') center/100% 100%;
    position: relative;
    width: 272.02px;
    height: 198px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    span {
        font-size: 40px;
        color: #fff;
        font-weight: normal;
    }
}

.hero_section {
    text-align: center;

    h1 {
        font-family: aspect, sans-serif;
        font-size: 129px;
        color: #1D2755;
    }

    h2 {
        font-family: ara, sans-serif;
        font-size: 172px;
        color: #1D2755;
    }

    img {
        position: absolute;
        top: 130px;
        pointer-events: none;
        user-select: none;
        // border: solid red;
    }
}

.minor_shape_section {
    width: 1471px;
    // border: solid;
    height: 2374px;
    background: url(./assets/png/minor_shape.png) center / 100% 100%;
    margin-top: 745px;
    // margin-right: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    .section_content {
        padding-top: 365px;

        .box_1 {
            // border: solid red;
            width: 950.81px;
            margin-left: 356px;

            h2 {
                font-weight: 400;

                span {
                    display: block;
                    // text-align: center;
                    color: #FFFFFF;
                    font-weight: 400;

                    &:nth-child(1) {
                        font-family: kingsman, sans-serif;
                        font-size: 98.04px;
                        line-height: auto;
                    }

                    &:nth-child(2) {
                        font-family: ara, sans-serif;
                        font-size: 108.23px;
                        // line-height: 55px;
                        margin-left: 118.68px;
                        white-space: nowrap;
                        display: block;
                        margin-top: -50px;
                    }
                }
            }

        }

        .box_2 {
            // border: solid;
            margin-left: 136.75px;
            width: 1239.37px;
            position: relative;
            left: -35px;

            p {
                padding-top: 18.41px;
                color: rgba(255, 255, 255, 0.80);
                text-align: center;
                font-family: nexa, sans-serif;
                font-size: 46px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        .box_3 {
            // border: solid;
            position: relative;
            padding-top: 44.61px;
            padding-bottom: 40px;

            p {
                color: rgba(255, 255, 255, 0.80);
                text-align: center;
                font-family: ara, sans-serif;
                font-size: 62px;
                font-style: normal;
                font-weight: 400;
                line-height: 106.333%;
                height: 170px;
                /* 65.927px */
            }
        }

        .box_4 {
            // text-align: center;
            margin-left: 461px;

            .order_btn {
                font-family: ara, sans-serif;
                width: 488.938px;
                height: 161.463px;
                border-radius: 157px;
                background: linear-gradient(180deg, #CDA26C 0%, #EFD1A0 100%);
                box-shadow: 0px 34px 84px 0px rgba(0, 0, 0, 0.60), 0px 18px 24px 0px #EEDAB7 inset;
                color: #000;
                text-align: center;
                font-size: 77px;
                font-style: normal;
                font-weight: 400;
                line-height: 106.333%;
                /* 81.877px */
            }
        }

        .box_5 {
            .social_list {
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 51px;
                h4 {
                    color: #FFF;
                    text-align: center;
                    font-family: ara, sans-serif;
                    font-size: 65px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 106.333%;
                }
                li{
                    margin-right: 15px;
                    &:last-child{
                        margin-right: 0px;
                    }
                }

            }
        }

    }
}